body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

p #featured-property {
  width: 800px;
}

div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}

figure {
  text-align: center;
}